---
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import type { langs } from '~/i18n/language';
import StandardLayout from '~/layouts/StandardLayout.astro';

export interface Props {
  _404_i18n: CollectionEntry<'404_i18n'>;
}

export const getStaticPaths: GetStaticPaths = async () =>
  (await getCollection('404_i18n'))
    .map((entry) => ({
      params: { langShort: entry.slug || undefined },
      props: { _404_i18n: entry },
    }));

const { langShort } = Astro.params;
const { _404_i18n } = Astro.props;
---
<StandardLayout siteSection="Error 404" langShort={langShort as keyof typeof langs}>
  <h2 class="text-center font-Hitmo text-4xl">{_404_i18n.body}</h2>
</StandardLayout>
