---
/* eslint-disable tailwindcss/no-custom-classname */
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import type { langs } from '~/i18n/language';
import StandardLayout from '~/layouts/StandardLayout.astro';

export interface Props {
  contact_i18n: CollectionEntry<'contact_i18n'>,
}

export const getStaticPaths: GetStaticPaths = async () =>
  (await getCollection('contact_i18n'))
    .map((entry) => ({
      params: { langShort: entry.id },
      props: { contact_i18n: entry },
    }));

const { langShort } = Astro.params;
const { contact_i18n } = Astro.props;
---
<script is:inline fetchpriority="high" src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script is:inline fetchpriority="high" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<StandardLayout siteSection="contact" langShort={langShort as keyof typeof langs}>
  <div class="flex justify-center">
    <form
      name="contact-form"
      id="contact-form"
      class="flex w-full max-w-[800px] flex-col gap-5"
      onsubmit="return event.preventDefault();"
    >
      <div class="flex flex-col gap-5 md:flex-row">
        <div class="flex w-full flex-col flex-nowrap gap-2 md:flex-row md:gap-3">
          <label
            for="contact-form-name"
            class="before:text-amber-500 before:content-['*']"
          >{contact_i18n.data.name}:</label>
          <input
            type="text"
            required
            autofocus
            form="contact-form"
            name="name"
            id="contact-form-name"
            class="contact-form-input w-full"
          />
        </div>
        <div class="flex w-full flex-col flex-nowrap gap-2 md:flex-row md:gap-3">
          <label
            for="contact-form-email"
            class="whitespace-nowrap before:text-amber-500 before:content-['*']"
          >{contact_i18n.data.email}:</label>
          <input
            type="email"
            required
            form="contact-form"
            name="email"
            id="contact-form-email"
            class="contact-form-input w-full"
          />
        </div>
      </div>

      <div class="flex flex-col flex-nowrap gap-2 md:flex-row md:gap-3">
        <label for="contact-form-reason">{contact_i18n.data.reason}:</label>
        <input
          type="text"
          form="contact-form"
          name="reason"
          id="contact-form-reason"
          class="contact-form-input w-full"
        />
      </div>

      <div class="flex flex-col flex-nowrap gap-2 md:flex-row md:gap-3">
        <label
          for="contact-form-linkedin"
          class="whitespace-nowrap"
        >LinkedIn URL:</label>
        <input
          type="url"
          form="contact-form"
          name="linkedin"
          id="contact-form-linkedin"
          class="contact-form-input w-full"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label
          for="contact-form-message"
          class="before:text-amber-500 before:content-['*']"
        >{contact_i18n.data.message}: </label>
        <textarea
          required
          rows="10"
          form="contact-form"
          name="message"
          id="contact-form-message"
          class="contact-form-input"
        ></textarea>
      </div>

      <input
        type="hidden"
        value={langShort}
        name="lang"
        form="contact-form"
      />

      <div class="flex justify-center">
        <input
          type="submit"
          value={contact_i18n.data.send}
          class="mt-2 w-40 cursor-pointer rounded-[5px] border-2 border-solid border-amber-500 p-3 font-semibold uppercase hover:border-amber-300 hover:text-gray-400 hover:dark:text-slate-50"
        />
      </div>
    </form>
  </div>
</StandardLayout>

<script is:inline defer define:vars={{ contact_i18n }}>
  const clearForm = (formElem) =>
    formElem
      .querySelectorAll('.contact-form-input')
      .forEach((field) => field.value = '');

  const trySendEmail = async (form) =>
    await fetch('/.netlify/functions/send-email', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(form).toString(),
    });

  const handleError = (error) => {
    const {
      toast_failure_empty_body_description,
      toast_failure_field_length_description,
      toast_failure_email_format_description,
      toast_failure_unknown_description,
    } = contact_i18n.data;
    let description;
    const { type, field } = error;
    if (!type) {
      description = toast_failure_unknown_description;
    } else {
      switch (type) {
      case 'ise':
        description = 'Internal Server Error';
        break;
      case 'field-length':
        description = `${toast_failure_field_length_description} (${field})`;
        break;
      case 'email-format':
        description = toast_failure_email_format_description;
        break;
      case 'empty-body':
        description = toast_failure_empty_body_description;
        break;
      default:
        description = toast_failure_unknown_description;
        break;
      }
    }
    toastr.error(description, 'Error');
  };

  const formElem = document.querySelector('#contact-form');
  formElem?.addEventListener('submit', async (event) => {
    event.preventDefault();
    event.stopPropagation();

    toastr.options = {
      positionClass: 'toast-bottom-full-width',
      progressBar: true,
      timeOut: 5000,
      showDuration: 1000
    };

    const form = new FormData(formElem);
    const sendEmailResponse = await trySendEmail(form);
    const responseBody = await sendEmailResponse.text();
    if (!responseBody)
      return handleError({ type: 'empty-body' });

    const responseData = JSON.parse(responseBody);
    const error = responseData.error;
    if (error) {
      handleError(error);
    } else {
      const {
        toast_success_title,
        toast_success_description,
      } = contact_i18n.data;
      toastr.success(toast_success_description, toast_success_title);
      clearForm(formElem);
    }
  });
</script>

<style>
  .contact-form-input {
    @apply py-[1px] px-[4px] text-[.9rem] text-[#333] rounded-[5px]
  }
  [required]:before {
    @apply content-[*]
  }
</style>
