---
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import type { langs } from '~/i18n/language';
import StandardLayout from '~/layouts/StandardLayout.astro';

export interface Props {
  home_i18n: CollectionEntry<'home_i18n'>;
}

export const getStaticPaths: GetStaticPaths = async () =>
  (await getCollection('home_i18n'))
    .map((entry) => ({
      params: { langShort: entry.slug },
      props: { home_i18n: entry },
    }));

const { langShort } = Astro.params;
const { home_i18n } = Astro.props;
const { Content } = await home_i18n.render();
---
<StandardLayout siteSection="home" langShort={langShort as keyof typeof langs}>
  <figure
    id="pic-of-me"
    class="float-none mb-16 h-72 w-full rounded-xl border-2 border-solid border-[#8881] duration-[.2s] hover:border-[#8886] sm:h-96 lg:float-right lg:ml-16 lg:h-full lg:w-1/3 [&:hover>figcaption]:bg-[#F3F3F3] [&:hover>figcaption]:text-[#8889] dark:[&:hover>figcaption]:bg-[#333] [&:hover>img]:border-[#8886]"
  >
    <Image
      src="/resources/content/home/me.jpeg"
      alt="A picture of me"
      width={720} height={1280}
      class={`
        size-full
        rounded-t-[10px]
        border-b-2 border-solid border-[#8881]
        object-cover object-[50_0px]
        align-middle
        duration-[.2s]
        sm:object-[0_-280px]
        lg:object-contain lg:object-top
      `}
    />
    <figcaption class="rounded-b-[10px] px-4 py-[.7rem] text-center font-CreatoDisplay text-[1rem] text-[#8884] duration-[.18s]">{home_i18n.data.figcaption_0}</figcaption>
  </figure>
  <!-- `Content` wrapper to keep styles between "pseudo-rerenders" -->
  <div class="[&_h2]:mb-2.5 [&_h2]:font-CreatoDisplay [&_h2]:text-[32px] [&_h2]:text-amber-600 [&_h2]:sm:text-[42px] [&_h2]:xl:text-[48px] [&_p]:text-[18px] [&_p]:sm:text-[28px] [&_p]:xl:text-[34px]">
    <Content />
  </div>
</StandardLayout>
