---
import { langs } from '~/i18n/language';
---
<html>
  <head>
    <link rel="canonical" href="https://stevenreina.com"/>
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta property="og:title" content='Steven Reina' />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stevenreina.com" />
    <meta property="og:image" content="/resources/logos/logo_opengraph.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Steven Reina" />
  </head>
  <body>
    <script is:inline define:vars={{ langs }}>
      let userLang = sessionStorage.getItem('default-lang')
        || navigator.language.split('-')[0];
      if (!Object.keys(langs).includes(userLang))
        userLang = userLang === 'nb'
          ? 'no'
          : 'en';
      window.location = userLang;
    </script>
  </body>
</html>
