---
import { getEntry } from 'astro:content';

import { langs } from '~/i18n/language';

interface Props {
  langShort: keyof typeof langs,
}

const { langShort } = Astro.props;
const slug = Astro.url.pathname.split(langShort)[1];
const footer_i18n = (await getEntry('footer_i18n', langShort))!;
---
<footer class="py-16">
  <nav class="mb-8 flex h-fit justify-center gap-6 md:gap-10 lg:mb-5 xl:gap-12 [&>div>a:hover]:scale-[1.06] [&>div>a]:duration-[.4s]">
    <div class="flex flex-col items-end justify-around [&>a]:flex [&>a]:items-center [&>a]:gap-4 [&>a]:font-MinSans [&>a]:text-[1.7rem] [&>a]:font-thin">
      <a href="https://www.linkedin.com/in/stevenreinahernandez/"
        title={footer_i18n.data.linkedinTitle} >
        <span>LinkedIn</span>
        <img src="/resources/logos/linkedin-logo.png"
          width="38"
          height="38"
          alt="My LinkedIn Profile"
        />
      </a>
      <a href="https://gitlab.com/stevenreina"
        title={footer_i18n.data.gitlabTitle}
      >
        <span>GitLab</span>
        <img
          src="/resources/logos/gitlab-logo.png"
          width="40"
          height="40"
          alt="My GitLab Profile"
        />
      </a>
    </div>
    <div class="h-16 self-center border border-gray-300 dark:border-gray-600"></div>
    <div class="hover:[&>a>span] flex flex-col gap-1 text-2xl">
      {
        Object.entries(langs).map(([, lang]) =>
          <a
            href={slug !== '/404' ? `/${lang.short}${slug}` : `/${lang.short}/`}
            title={lang.name}
            class="inline-flex gap-2 text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200"
          >
            {String.fromCodePoint(...lang.flag)}
            <span class="text-[1rem] font-normal">{lang.name}</span>
          </a>
        )
      }
    </div>
  </nav>
  <div class="text-center text-gray-500 dark:text-gray-500">Steven Reina · 2025</div>
</footer>
