---
/* eslint-disable no-irregular-whitespace -- using "fake" whitespace to keep design uniform */
import { getEntry } from 'astro:content';

import type { langs } from '~/i18n/language';
import HeaderNavItem from './HeaderNavItem.astro';

export interface Props {
  siteSection: string,
  langShort: keyof typeof langs,
}
const { siteSection, langShort } = Astro.props;
const { data: sectionsData } = await getEntry('sections_i18n', langShort)!;

const currentSection = new Map<string, boolean>();
currentSection.set(siteSection, true);
const linkNames = Object.keys(sectionsData) as (keyof typeof sectionsData)[];
---

<div id="header-container" class="sticky top-0 z-50 w-full">
  <header class="flex flex-col border-b-2 border-solid border-[#DDD] bg-light lg:px-32 xl:flex-row xl:justify-between 2xl:px-44 3xl:px-64 dark:bg-dark">
    <a href={`/${langShort}/`}
      id="logo"
      class="
        pt-8
        text-center
        font-Hitmo
        text-4xl
        text-[#444]
        transition-[padding-left]
        duration-200
        hover:text-[#45E]
        hover:drop-shadow-[-2px_2px_4px_#0005]
        hover:before:content-['<']
        hover:after:content-['_/>']
        lg:text-[3.4rem]
        xl:pb-6
        dark:text-[#EEE]
      "
    >Steven Reina</a>
    <nav class="flex max-h-full justify-center xl:justify-start">
      {
        linkNames.map((linkName) => (
          <HeaderNavItem
            name={sectionsData[linkName]}
            url={`/${langShort}/${linkName === 'home' ? '' : linkName}`}
            isCurrent={currentSection.get(linkName) || false}
          />
        ))
      }
    </nav>
  </header>
  <div class="absolute h-16 w-full bg-gradient-to-b from-white to-transparent dark:from-[#1C1C1C]" id="header-transp-gradient"></div>
</div>
