---
/* eslint-disable tailwindcss/no-custom-classname -- using some custom classnames to have direct references of certain parts */
import type { Technology } from '~/content/technologies';

export interface Props {
  name: string;
  path: string;
  description: string;
  technologies: Technology[];
  thumbnailPath: string;
  thumbnailAlt: string;
  technologiesLabel: string;
}

const {
  name,
  path,
  description,
  technologies,
  thumbnailPath,
  thumbnailAlt,
  technologiesLabel
} = Astro.props;
const isPointingHome = path === '/';
---
<div
  onclick={isPointingHome ? 'location.href = "/";' : `window.open('${path}');`}
  class="project mb-8 flex cursor-pointer rounded border border-gray-300 bg-gray-100 text-slate-800 transition hover:border-amber-500 hover:bg-white hover:text-slate-900 lg:h-64 dark:border-gray-200 dark:bg-stone-800 dark:text-gray-300 dark:hover:bg-stone-700 dark:hover:text-gray-100 [&:hover_.arrow]:ml-4 [&:hover_.technologies>div:first-child>span]:bg-white dark:[&:hover_.technologies>div:first-child>span]:bg-stone-700 [&:hover_.technologies]:bg-white dark:[&:hover_.technologies]:bg-stone-700 [&:hover_.thumbnail]:-translate-x-1 [&:hover_.thumbnail]:-translate-y-1 [&:hover_.thumbnail]:shadow-lg [&:nth-child(even)>.project-content]:lg:flex-row-reverse">
  <div class="project-content flex h-full flex-1 flex-col p-5 lg:flex-row">
    <div class="h-full flex-1 overflow-y-auto">
      <h1 class="mb-2 text-3xl font-extrabold">{name}</h1>
      <p>{description}</p>
      <div class="technologies sticky bottom-0 left-0 z-[1] mb-4 mt-5 box-content max-h-[4.4rem] min-h-[3.2rem] w-auto overflow-x-auto bg-gray-100 pl-1 pt-4 transition lg:mb-0 dark:bg-stone-800">
        <div class="relative mb-[18px] h-1 w-full border-b border-b-gray-300 dark:border-b-stone-600">
          <span class="relative left-2 top-[-.6rem] bg-gray-100 px-1 font-MinSans text-[.7rem] text-gray-400 transition dark:bg-stone-800 dark:text-stone-600">{technologiesLabel}</span>
        </div>
        <div class="flex flex-wrap gap-3">
          {
            technologies.map(({ name, webpage, logo }) =>
              <div onclick=`window.open('${webpage}');`
                class="aspect-square h-6 cursor-pointer bg-contain bg-center bg-no-repeat transition hover:scale-125"
                style={{
                  'background-image': `url('/resources/logos/${logo}')`,
                  'filter': 'drop-shadow(0 0 10px rgb(120 120 120 / 0.2))'
                }}
                title={name}>
              </div>
            )
          }
        </div>
      </div>
    </div>
    <img src={thumbnailPath}
      alt={thumbnailAlt}
      class="thumbnail mx-6 aspect-[16/9] max-h-full shadow-black transition"/>
  </div>
  <div class="hidden h-full w-16 items-center lg:flex">
    <div class="arrow h-6 w-[70%] bg-[url('/resources/ui/arrow-right_light-theme.svg')] bg-center bg-no-repeat transition dark:bg-[url('/resources/ui/arrow-right_dark-theme.svg')]"></div>
  </div>
</div>
