@font-face {
  font-family: 'Hitmo';
  src: url('./Hitmo2.0-Light.ttf');
}
@font-face {
  font-family: 'MinSans';
  src: url('./MinSans-Regular.SubsetEng.woff2');
}
@font-face {
  font-family: 'Ampero';
  src: url('./Ampero-SemiBoldItalic.woff');
}
@font-face {
  font-family: 'Garet';
  src: url('./Garet-Book.woff2');
}
@font-face {
  font-family: 'CreatoDisplay';
  src: url('./CreatoDisplay-Regular.otf');
}
