---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { ClientRouter, fade } from 'astro:transitions';

import { langs } from '~/i18n/language';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';

export interface Props {
  siteSection: string,
  langShort: keyof typeof langs,
}
type SectionId = keyof CollectionEntry<'sections_i18n'>['data'];

const { siteSection, langShort } = Astro.props;
const { body: description } = await getEntry('description_i18n', langShort)!;
const sections = (await getEntry('sections_i18n', langShort)!).data;
const sectionName = Object.keys(sections).includes(siteSection)
  ? sections[siteSection as SectionId]
  : '404 Error';
---
<!DOCTYPE html>
<html class="scroll-smooth bg-light font-default dark:bg-dark" lang={langShort}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="canonical" href="https://stevenreina.com"/>
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link fetchpriority="high" rel="preload" href="/resources/fonts/fonts.css" as="style" />
    <link fetchpriority="high" rel="stylesheet" href="/resources/fonts/fonts.css" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f99d32"/>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#D97706"/>
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content=`Steven Reina | ${sectionName}` />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://stevenreina.com" />
    <meta property="og:image" content="/resources/logos/logo_opengraph.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Steven Reina" />
    <ClientRouter />
    <title>{sectionName} | Steven Reina</title>
  </head>
  <body transition:persist class="relative m-0 max-w-[100vw] text-[#222] antialiased dark:text-[#DDD]">
    <Header {siteSection} {langShort} />
    <main transition:animate={fade({duration: '.9s'})} class="mt-20 px-0 md:px-12 lg:px-24 xl:px-32 2xl:px-52 3xl:px-80">
      <div id="section-title" class="relative flex place-content-center pb-11 pt-0.5 md:justify-start dark:text-[#CCC]">
        <hr class="absolute z-[-2] w-full self-center border-4 border-solid border-[#DDD]">
        <h1
          class="z-[-1] bg-light bg-clip-padding px-3 font-Ampero text-[4.4rem] leading-none md:ml-12 dark:bg-dark"
          style={{ 'padding-inline-start': '4px' }}
        >{sectionName}</h1>
      </div>
      <div class="px-12 lg:px-14">
        <slot />
      </div>
      <hr class="clear-both border-b-8 border-t-0 border-solid border-[#DDD] pt-20">
      <Footer {langShort} />
    </main>
  </body>
</html>

<script defer is:inline define:vars={{ langs }}>
  const urlLang = window.location.href.split('//')[1].split('/')[1];
  if (localStorage.getItem('default-lang') !== urlLang)
    if (langs.includes(urlLang))
      localStorage.setItem('default-lang', urlLang);
</script>

<style is:global>
  a {
    @apply text-inherit no-underline
  }
  p {
    @apply font-Garet
  }
</style>
